.main {
	width:900px;
	height:600px;
	background-color:blue;
	border:1px solid #000;
    margin: 0 auto;
    position: relative;
    color:red;
    font-size: 12px;
    font-weight: bold;
}


#mobile {
	width:50px;
	height:50px;
	color:#f00;
	background-color:black;
	position: absolute;
	top:100px;
	left:20px;
}

#bike1 {
	width:50px;
	height:50px;
	color:#f00;
	background-color: yellow;
	/*display:inline-block;*/
	position: absolute;
	top:220px;
	left:141px;

}

#bike2 {
	width:50px;
	height:50px;
	color:#f00;
	background-color:yellow;
	/*display:inline-block;*/
	position: absolute;
	top:20px;
	left:41px;

}

#bike3 {
	width:50px;
	height:50px;
	color:#f00;
	/*background-color:aqua;*/
	background-color:yellow;
	/*display:inline-block;*/
	position:absolute;
	top:60px;
	left:81px;

}


#bike4 {
	width:50px;
	height:50px;
	color:#f00;
	background-color: yellow;
	position: absolute;
	top:400px;
	left:501px;

}

#bike5 {
	width:50px;
	height:50px;
	color:#f00;
	background-color: yellow;
	/*display:inline-block;*/
	position: absolute;
	top:300px;
	left:270px;

}

#zhongguancun {
	width:50px;
	height:50px;
	color:#f00;
	background-color: azure;
	position: absolute;
	top:151px;
	left:160px;
}

#summerpalace {
	width:50px;
	height:50px;
	color:#f00;
	background-color: azure;
	position: absolute;
	top:443px;
	left:460px;
}

#xierqi {
	width:50px;
	height:50px;
	color:#f00;
	background-color: azure;
	position: absolute;
	top:221px;
	left:260px;
}

#yuanmingpark {
	width:50px;
	height:50px;
	color:#f00;
	background-color: azure;
	position: absolute;
	top:327px;
	left:360px;
}

#gongzhufen {
	width:50px;
	height:50px;
	color:#f00;
	background-color: darkgreen;
	position: absolute;
	top:210px;
	left:207px;
}

#wukesong {
	width:50px;
	height:50px;
	color:#f00;
	background-color: darkgreen;
	position: absolute;
	top:198px;
	left:406px;
}

#babaoshan {
	width:50px;
	height:50px;
	color:#f00;
	background-color: darkgreen;
	position: absolute;
	top:180px;
	left:600px;
}

#shougangironfactory {
	width:50px;
	height:50px;
	color:#f00;
	background-color: darkgreen;
	position: absolute;
	top:230px;
	left:707px;
}

#qianmen {
	width:50px;
	height:50px;
	color:#f00;
	background-color: cyan;
	position: absolute;
	top:70px;
	left:460px;
}

#caishikou {
	width:50px;
	height:50px;
	color:#f00;
	background-color: cyan;
	position: absolute;
	top:150px;
	left:440px;
}

#tiantanpark {
	width:50px;
	height:50px;
	color:#f00;
	background-color: cyan;
	position: absolute;
	top:257px;
	left:480px;
}

#yizhuang {
	width:50px;
	height:50px;
	color:#f00;
	background-color: cyan;
	position: absolute;
	top:530px;
	left:390px;
}
